@cahrset "utf-8";
/+ CSS Document +/
body {
    background-image: url("../IMAGES/Background_Optimized.jpg");
    background-size: cover;
    }

    h1 {
        text-align: center;
        margin: auto;
        font-family: 'GROBOLD', sans-serif;
    }
    h2 {
        font-size: 43px;
        text-align: center;
        margin: auto;
        font-family:'rimouski', 'semi-bold', sans-serif
    }
    
    h3 {
        font-size: 24px;
        margin: auto;
        font-family: 'MV Boli', 'regular', sans-serif
    }

    #container {
        background-color: #ffffff;
        width: 800px;
        height: 1100px;
    }

    /*SEARCH BUTTON*/

    #formC {
        margin-left: 539px;
        width: 632px;
        margin-top: 180px;
        position: absolute;
        color: #20CCB5;
        border-width: 7px;
        border-radius: 15px 15px 15px 15px;
        border-style: solid;
    }

    #query {
        all: unset;
        font-size: 16px;
        height: 100%;
        width: 496px;
        font-family: 'rimouski';
        padding-left: 10px;
        opacity: 80%;
    }

    #formC button {
        color: #20CCB5;
        background-color: #FFFFFF;
        border-style: none;
        font-size: 21px;
        margin-left: 35px;
        font-family: 'rimouski';
    }

   /*HEADER FORMATTING*/

    .header {
        text-align: center;
        padding: 0px 730px;
    }   

    /*LOGIN CODING*/

    .login {
        margin-left: 1199px;
        position: absolute;
        padding-right: 27px;
    }

    .login > ul li {
        list-style: none;
    }

    .login a {
        color:white;
        text-decoration: none;
        font-size: 33px;
    }

    .loginlist {
        border-radius: 10px 10px 10px 10px;
        text-decoration: none;
        width: 157px;
        float: right;
        margin-top: -10px;
        background-color:#CC2037;
    }

    /*SIGNUP AND CART*/

    .signup {
        border-radius: 10px 10px 10px 10px;
        text-decoration: none;
        width: 157px;
        float: right;
        margin-top: 7px;
        background-color:#20CCB5;
    }

    .cart {
        border-radius: 10px 10px 10px 10px;
        text-decoration: none;
        width: 113px;
        float: right;
        margin-top: 7px;
        background-color:#825283;
    }

    /*SIDE NAVIGATION*/

    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        top: 0px;
        left: -160px;
        background-color: #20CCB5;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-left: 160px;
        padding: 0px 5px;
        z-index: 2;
    }

    #sidebar {
        text-align: center;
        padding: 17px 17px;
        margin-left: 5px;
    }

    #sidespaces {
        position: absolute;
        margin-top: 80px;
        margin-left: 20px;
        z-index: -1;
    }

    .sidenav a {
        float: center;
        display: block;
        padding: 17px;
        text-decoration: none;
        color:#ffffff;
        margin-left: -35px;
    }

    .sidenav a:hover {
        color: #825283;
    }

    .sidenav ul li {
        list-style: none;
    }

    .sidenav ul li ul {
        display: none;
        position: relative;
        background-color:#20CCB5;
        margin-left: -2px;
    }
    
    .sidenav ul li:hover ul {
        display: block;
        position: relative;
        padding: 10px;
        text-align: center;
        width: 140px;
        margin-top: 10px;
    }




    /*HOME PAGE*/

    /*CAROUSEL SLIDER*/

    .carousel-wrapper {
        height: 399px;
        position: sticky;
        width: 800px;
        margin-left: 458px;
        margin-top: 60px;
        border-color: #CC2037;
        border-style: solid;
        border-radius: 20px 20px 20px 20px;
        border-width: 10px;
        background-color: white;
    }

    .carousel-item {
        position: absolute;
        transition: all 0.5s ease-in-out;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px 50px;
        opacity: 0;
    }

    .arrow {
        border: solid #CC2037;
        border-width: 0px 23px 23px 0px;
        display: inline-block;
        padding: 12px;
        margin-inline: -36px;
    }

    .arrow-prev {
        left: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .arrow-next {
        right: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .light {
        color: white;
    }

    @media (max-width: 480px) {
        .arrow, .light .arrow {
            background-size: 10px;
            background-position: 10px 50%;
        }
    }

    /*CAROUSEL IMAGES*/

    [id^="item"] {
        display: none;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
    background: url('https://www.earlyyearscareers.com/eyc/wp-content/uploads/2016/08/kindergarten-504672_960_720.jpg');
    background-size: cover;
    border-radius: 6px 6px 6px 6px;
    margin-left: 0px;
    margin-top: -1px;
    }

    .carousel-wrapper h2 {
        font-size: 29px;
        margin-left: 447px;
        width: 284px;
        margin-top: -25px;
        background-color: white;
        border-radius: 0px 6px 6px 20px;
        padding-top: 16px;
        padding-right: 10px;
        padding-left: 10px;
        color: #20CCB5;
    }

    .carousel-wrapper h3 {
        font-size: 23px;
        margin-left: 447px;
        width: 258px;
        text-align: center;
        margin-top: -68px;
        background-color: white;
        border-radius: 0px 0px 6px 0px;
        padding-top: 92px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 50px;
        color: #825283;
    }

    .item-2 {
    background: url('https://media.greenmatters.com/brand-img/Z1IpTAB/2160x1130/kids-outside-challenge-1000-hours-1531945485375-1531945487987.jpg');
    background-size: cover;
    border-radius: 6px 6px 6px 6px;
    margin-left: 0px;
    margin-top: -1px;
    }

    .item-3 {
    background: url('https://images3.alphacoders.com/828/828502.jpg');
    background-size: cover;
    border-radius: 6px 6px 6px 6px;
    margin-left: 0px;
    margin-top: -1px;
    }

    *:target ~ .item-1 {
        opacity: 0;
    }

    #item-1:target ~ .item-1 {
        opacity: 1;
    }

    #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
        z-index: 3;
        opacity: 1;
    }

    /*FLEX CONTAINER*/

    .flex-container2 {
        display: block;
        padding: 2px 43px;
    }

    /*FAQ*/
    
    .FAQ {
        margin-left: -780px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        position: absolute;
        margin-top: 266px;
    }    

    .FAQ img {
        margin-left: 1039px;
        border-radius: 3px 3px 3px 3px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        width: 318px;
        position: absolute;
        margin-top: -237px;
    }

    /*FAQ TITLE*/

    .learn_faq h2 {
        margin-left: 1121px;
        position: absolute;
        margin-top: -58px;
        font-size: 32px;
        border-radius: 30px 30px 30px 30px;
        background: white;
        width: 165px;
        border-color: #20CCB5;
        border-width: 7px;
        border-style: solid;
    }

    .learn_faq > li {
        list-style: none;
    }

    .learn_faq a {
        text-decoration: none;
        color: #20CCB5;
    }

    .learn_faq h2:hover {
        width: 183px;
        margin-left: 1112px;
        height: 46px;
        padding-top: 3px;
        margin-top: -68px;
        font-size: 38px;
    }

    /*RECENT NEWS*/
    
    .RecentNews {
        margin-left: -780px;
        border-color: #825283;
        border-style: solid;
        border-width: 8px;
        position: absolute;
        margin-top: 266px;
    }    

    .RecentNews img {
        margin-left: 1427px;
        border-radius: 3px 3px 3px 3px;
        border-color: #825283;
        border-style: solid;
        border-width: 8px;
        width: 318px;
        position: absolute;
        margin-top: -237px;
    }

    /*RECENT NEWS TITLE*/

    .learn_rn h2 {
        margin-left: 1467px;
        position: absolute;
        margin-top: -58px;
        font-size: 32px;
        border-radius: 30px 30px 30px 30px;
        background: white;
        width: 245px;
        border-color: #825283;
        border-width: 7px;
        border-style: solid;
    }

    .learn_rn > li {
        list-style: none;
    }

    .learn_rn a {
        text-decoration: none;
        color: #825283;
    }

    .learn_rn h2:hover {
        width: 282px;
        margin-left: 1448px;
        height: 46px;
        padding-top: 3px;
        margin-top: -68px;
        font-size: 38px;
    }

    /*ORDER NOW*/
    
    .OrderNow {
        margin-left: -397px;
        border-color: #CC2037;
        border-style: solid;
        border-width: 8px;
        position: absolute;
        margin-top: 266px;
    }    

    .OrderNow img {
        margin-left: 1427px;
        border-radius: 3px 3px 3px 3px;
        border-color: #CC2037;
        border-style: solid;
        border-width: 8px;
        width: 318px;
        position: absolute;
        margin-top: -237px;
    }

    /*ORDER NOW TITLE*/

    .learn_on h2 {
        margin-left: 1467px;
        position: absolute;
        margin-top: -58px;
        font-size: 32px;
        border-radius: 30px 30px 30px 30px;
        background: white;
        width: 245px;
        border-color: #CC2037;
        border-width: 7px;
        border-style: solid;
    }

    .learn_on > li {
        list-style: none;
    }

    .learn_on a {
        text-decoration: none;
        color: #CC2037;
    }

    .learn_on h2:hover {
        width: 282px;
        margin-left: 1448px;
        height: 46px;
        padding-top: 3px;
        margin-top: -68px;
        font-size: 38px;
    }




    /*ORDER PAGE*/
    
    .order_cubes {
        margin-top: 18px;
    }

    /*STRAWBERRY ORDER OPTION*/

    .strawberry_order {
        margin-left: 245px;
        width: 381px;
        height: 227px;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 74px;
        border-radius: 10px 10px 10px 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #20CCB5;
    }

    .strawberry_order h2 {
        text-align: center;
        font-size: 26pt;
        width: 287px;
        color: #CC2037;
        margin-top: -173px;
        position: absolute;
        margin-left: 137px;
    }

    .strawberry_order img {
        border-radius: 10px 10px 10px 10px;
        border-width: 9px;
        border-style: solid;
        border-color: #20CCB5;
        margin-left: -10px;
        width: 174px;
        height: 228px;
    }

    .Add_To_Cart a {
        border-radius: 10px 10px 10px 10px;
        background-color: #CC2037;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 177px;
        height: 34px;
        font-size: 28px;
        margin-top: 266px;
        margin-left: 50px;
    }

    .price h2 {
        border-radius: 10px 10px 10px 10px;
        background-color: #825283;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 124px;
        height: 32px;
        font-size: 29px;
        margin-top: 215px;
        margin-left: 476px;
    }

    .order_number {
        margin-left: 455px;
        margin-top: 135px;
        position: absolute;
    }

    .gallons img {
        margin-left: 232px;
        margin-top: 51px;
        position: absolute;
        border-color: #20CCB5;
        width: 174px;
        height: 69px;
    }

    .per-case h2 {
        margin-left: 250px;
        margin-top: 284px;
        position: absolute;
        border-color: #20CCB5;
        width: 97px;
        height: 24px;
        font-size: 20px;
        background-color: white;
        border-style: solid;
        border-radius: 10px 10px 10px 10px;
        color: #CC2037;
        border-width: 4px;
    }

    /*APPLE ORDER OPTION*/

    .apple_order {
        margin-left: 663px;
        width: 381px;
        height: 227px;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 74px;
        border-radius: 10px 10px 10px 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #20CCB5;
    }

    .apple_order h2 {
        text-align: center;
        font-size: 26pt;
        width: 287px;
        color: #CC2037;
        margin-top: -173px;
        position: absolute;
        margin-left: 137px;
    }

    .apple_order img {
        border-radius: 10px 10px 10px 10px;
        border-width: 9px;
        border-style: solid;
        border-color: #20CCB5;
        margin-left: -10px;
        width: 174px;
        height: 228px;
    }

    .Add_To_Cart2 a {
        border-radius: 10px 10px 10px 10px;
        background-color: #CC2037;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 177px;
        height: 34px;
        font-size: 28px;
        margin-top: 266px;
        margin-left: 467px;
    }

    .price2 h2 {
        border-radius: 10px 10px 10px 10px;
        background-color: #825283;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 124px;
        height: 32px;
        font-size: 29px;
        margin-top: 215px;
        margin-left: 892px;
    }

    .order_number2 {
        margin-left: 874px;
        margin-top: 135px;
        position: absolute;
    }

    .gallons2 img {
        margin-left: 650px;
        margin-top: 51px;
        position: absolute;
        border-color: #20CCB5;
        width: 174px;
        height: 69px;
    }

    .per-case2 h2 {
        margin-left: 670px;
        margin-top: 284px;
        position: absolute;
        border-color: #20CCB5;
        width: 97px;
        height: 24px;
        font-size: 20px;
        background-color: white;
        border-style: solid;
        border-radius: 10px 10px 10px 10px;
        color: #CC2037;
        border-width: 4px;
    }

    /*FRUIT PUNCH ORDER OPTION*/

    .fp_order {
        margin-left: 1081px;
        width: 381px;
        height: 227px;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 74px;
        border-radius: 10px 10px 10px 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #20CCB5;
    }

    .fp_order h2 {
        text-align: center;
        font-size: 26pt;
        width: 287px;
        color: #CC2037;
        margin-top: -173px;
        position: absolute;
        margin-left: 137px;
    }

    .fp_order img {
        border-radius: 10px 10px 10px 10px;
        border-width: 9px;
        border-style: solid;
        border-color: #20CCB5;
        margin-left: -10px;
        width: 174px;
        height: 228px;
    }

    .Add_To_Cart3 a {
        border-radius: 10px 10px 10px 10px;
        background-color: #CC2037;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 177px;
        height: 34px;
        font-size: 28px;
        margin-top: 266px;
        margin-left: 882px;
    }

    .price3 h2 {
        border-radius: 10px 10px 10px 10px;
        background-color: #825283;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 124px;
        height: 32px;
        font-size: 29px;
        margin-top: 215px;
        margin-left: 1309px;
    }

    .order_number3 {
        margin-left: 1287px;
        margin-top: 135px;
        position: absolute;
    }

    .gallons3 img {
        margin-left: 1069px;
        margin-top: 51px;
        position: absolute;
        border-color: #20CCB5;
        width: 174px;
        height: 69px;
    }

    .per-case3 h2 {
        margin-left: 1086px;
        margin-top: 284px;
        position: absolute;
        border-color: #20CCB5;
        width: 97px;
        height: 24px;
        font-size: 20px;
        background-color: white;
        border-style: solid;
        border-radius: 10px 10px 10px 10px;
        color: #CC2037;
        border-width: 4px;
    }


    /*SECOND HALF AND CONTAINER*/

    .order_cubes2 {
        margin-top: 300px;
    }

    /*WHITE GRAPE ORDER OPTION*/

    .wg_order {
        margin-left: 245px;
        width: 381px;
        height: 227px;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 74px;
        border-radius: 10px 10px 10px 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #20CCB5;
    }

    .wg_order h2 {
        text-align: center;
        font-size: 24pt;
        width: 287px;
        color: #CC2037;
        margin-top: -173px;
        position: absolute;
        margin-left: 137px;
    }

    .wg_order img {
        border-radius: 10px 10px 10px 10px;
        border-width: 9px;
        border-style: solid;
        border-color: #20CCB5;
        margin-left: -10px;
        width: 174px;
        height: 228px;
    }

    .Add_To_Cart4 a {
        border-radius: 10px 10px 10px 10px;
        background-color: #CC2037;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 177px;
        height: 34px;
        font-size: 28px;
        margin-top: 266px;
        margin-left: 50px;
    }

    .price4 h2 {
        border-radius: 10px 10px 10px 10px;
        background-color: #825283;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 124px;
        height: 32px;
        font-size: 29px;
        margin-top: 215px;
        margin-left: 476px;
    }

    .order_number4 {
        margin-left: 455px;
        margin-top: 135px;
        position: absolute;
    }

    .gallons4 img {
        margin-left: 232px;
        margin-top: 51px;
        position: absolute;
        border-color: #20CCB5;
        width: 174px;
        height: 69px;
    }

    .per-case4 h2 {
        margin-left: 250px;
        margin-top: 284px;
        position: absolute;
        border-color: #20CCB5;
        width: 97px;
        height: 24px;
        font-size: 20px;
        background-color: white;
        border-style: solid;
        border-radius: 10px 10px 10px 10px;
        color: #CC2037;
        border-width: 4px;
    }

    /*PEACH MANGO ORDER OPTION*/

    .pm_order {
        margin-left: 663px;
        width: 381px;
        height: 227px;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 74px;
        border-radius: 10px 10px 10px 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #20CCB5;
    }

    .pm_order h2 {
        text-align: center;
        font-size: 22pt;
        width: 287px;
        color: #CC2037;
        margin-top: -173px;
        position: absolute;
        margin-left: 139px;
    }

    .pm_order img {
        border-radius: 10px 10px 10px 10px;
        border-width: 9px;
        border-style: solid;
        border-color: #20CCB5;
        margin-left: -10px;
        width: 174px;
        height: 228px;
    }

    .Add_To_Cart5 a {
        border-radius: 10px 10px 10px 10px;
        background-color: #CC2037;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 177px;
        height: 34px;
        font-size: 28px;
        margin-top: 266px;
        margin-left: 467px;
    }

    .price5 h2 {
        border-radius: 10px 10px 10px 10px;
        background-color: #825283;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 124px;
        height: 32px;
        font-size: 29px;
        margin-top: 215px;
        margin-left: 892px;
    }

    .order_number5 {
        margin-left: 874px;
        margin-top: 135px;
        position: absolute;
    }

    .gallons5 img {
        margin-left: 650px;
        margin-top: 51px;
        position: absolute;
        border-color: #20CCB5;
        width: 174px;
        height: 69px;
    }

    .per-case5 h2 {
        margin-left: 670px;
        margin-top: 284px;
        position: absolute;
        border-color: #20CCB5;
        width: 97px;
        height: 24px;
        font-size: 20px;
        background-color: white;
        border-style: solid;
        border-radius: 10px 10px 10px 10px;
        color: #CC2037;
        border-width: 4px;
    }

    /*BERRY ORDER OPTION*/

    .berry_order {
        margin-left: 1081px;
        width: 381px;
        height: 227px;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 74px;
        border-radius: 10px 10px 10px 10px;
        border-width: 10px;
        border-style: solid;
        border-color: #20CCB5;
    }

    .berry_order h2 {
        text-align: center;
        font-size: 26pt;
        width: 287px;
        color: #CC2037;
        margin-top: -173px;
        position: absolute;
        margin-left: 137px;
    }

    .berry_order img {
        border-radius: 10px 10px 10px 10px;
        border-width: 9px;
        border-style: solid;
        border-color: #20CCB5;
        margin-left: -10px;
        width: 174px;
        height: 228px;
    }

    .Add_To_Cart6 a {
        border-radius: 10px 10px 10px 10px;
        background-color: #CC2037;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 177px;
        height: 34px;
        font-size: 28px;
        margin-top: 266px;
        margin-left: 882px;
    }

    .price6 h2 {
        border-radius: 10px 10px 10px 10px;
        background-color: #825283;
        color: white;
        position: absolute;
        text-decoration: none;
        width: 124px;
        height: 32px;
        font-size: 29px;
        margin-top: 215px;
        margin-left: 1309px;
    }

    .order_number6 {
        margin-left: 1287px;
        margin-top: 135px;
        position: absolute;
    }

    .gallons6 img {
        margin-left: 1069px;
        margin-top: 51px;
        position: absolute;
        border-color: #20CCB5;
        width: 174px;
        height: 69px;
    }

    .per-case6 h2 {
        margin-left: 1086px;
        margin-top: 284px;
        position: absolute;
        border-color: #20CCB5;
        width: 97px;
        height: 24px;
        font-size: 20px;
        background-color: white;
        border-style: solid;
        border-radius: 10px 10px 10px 10px;
        color: #CC2037;
        border-width: 4px;
    }

    /*PAYMENT METHODS*/

    .flex-container_payment {
        text-align: center;
        color: #CC2037;
        padding-left: 822px;
        display: flex;
        margin-top: 398px;
        align-items: center;
        position: absolute;
    }

    .flex-container_payment > div h2 {
        text-align: center;
        width: 221px;
        margin: 11px -64px -63px -238px;
        position: static;
    }





    /*FLAVOR PAGE*/

    .flavors-container {
        margin-top: 17px;
        position: absolute;
    }

    /*FIRST ROW OF FLAVORS*/

    .flex-container_flavors {
        padding-left: 222px;
        position: absolute;
        display: flex;
        align-items: center;
        color:#CC2037;
        margin-top: 74px;
    }

    .flex-container_flavors > div h2 {
        text-align: center;
        margin-left: 176px;
        width: 274px;
        font-size: 26pt;
        margin-right: -43px;
    }

    /*SECOND ROW OF FLAVORS*/

    .flex-container_flavors2 {
        padding-left: 222px;
        position: absolute;
        display: flex;
        align-items: center;
        color:#CC2037;
        margin-top: 411px;
    }

    .flex-container_flavors2 > div h2 {
        text-align: center;
        margin-left: 139px;
        width: 341px;
        font-size: 26pt;
        margin-right: -73px;
    }
                           
    /*FIRST ROW OF FLAVOR DESCRIPTIONS*/   

    .flex-container_descp2 {
        color:#825283;
        padding-left: 300px;
        display: flex;
        margin-top: 148px;
        position: relative;
        align-items: center;
        text-align: center;
    }

    .flex-container_descp2 > div h3 {
        text-align: center;
        margin: 9px 57px 20px 122px;
        width: 225px;
        font-size: 21px;
    }
 
    /*SECOND ROW OF FLAVOR DESCRIPTIONS*/   

    .flex-container_descp {
        text-align: center;
        color: #825283;
        padding-left: 300px;
        display: flex;
        margin-top: 115px;
        position: relative;
        align-items: center;
    }

    .flex-container_descp > div h3 {
        text-align: center;
        width: 224px;
        margin: 8px 66px 19px 118px;
        font-size: 21px;
    }

    /*FIRST ROW OF ORDER BUTTONS*/   

    .order-buttons {
        color: #825283;
        padding-left: 300px;
        margin-top: -353px;
        position: relative;
        align-items: center;
        text-align: center;
        margin-left: 116px;
        display: flex;
    }

    .order-buttons h2 {
        border-radius: 20px 20px 20px 20px;
        margin-left: -125px;
        width: 475px;
        font-size: 30px;
        margin-right: 59px;
    }

    .order-buttons a {
        border-radius: 16px 16px 16px 16px;
        background: #CC2037;
        text-decoration: none;
        color: white;
        width: 59px;
        padding-right: 10px;
        padding-left: 8px;
    }

    .order-buttons :hover {
        color:#FFE088;
    }

    /*SECOND ROW OF ORDER BUTTONS*/   

    .order-buttons2 {
        color: #825283;
        margin-top: 305px;
        position: relative;
        align-items: center;
        text-align: center;
        margin-left: 418px;
        display: flex;
    }

    .order-buttons2 h2 {
        border-radius: 20px 20px 20px 20px;
        margin-left: -125px;
        width: 476px;
        font-size: 30px;
        margin-right: 56px;
    }

    .order-buttons2 a {
        border-radius: 16px 16px 16px 16px;
        background: #CC2037;
        text-decoration: none;
        color: white;
        width: 59px;
        padding-right: 10px;
        padding-left: 8px;
    }

    .order-buttons2 :hover {
        color:#FFE088;
    }




    /*ABOUT PAGE*/

    .gif_about {
        flex: 70%;
        flex-wrap: wrap;
        display: flex;
        background-color:#CC2037; 
        border-radius: 25px 25px 25px 25px;
        margin-left: 33%;
        margin-top: 62px;
        height: 402px;
        width: 1180px;
        }

    .gif_about img {
        border-radius: 25px 25px 25px 25px;
        margin-top: 9px;
        width: 1158px;
        height: 384px;
    }
       
    .flex-container_about {
        display: flex;
        margin-left: 253px;
        margin-top: 78px;
        width: 1165px;
        height: 250px;
        border-radius: 13px 13px 13px 13px;
        border-style: solid;
        border-width: 8px;
        border-color: #20CCB5;
        }

    .flex-container_about > div h3 {
        color: #825283;
        font-size: 21px;
        text-align: left;
        margin-top: 18px;
        line-height: 43px;
        width: 576px;
        margin-left: 43px;
        }

    .about-image img {
        margin-top: -227px;
        margin-left: 834px;
        position: absolute;
        width: 318px;
        height: 236px;
        border-radius: 8px 8px 8px 8px;
    }

    .tab_abm {
        margin-left: 253px;
        margin-top: -310px;
        position: absolute;
    }

    .tabs h3 {
        color: #20CCB5;
        border-radius: 8px 8px 0px 0px;
        border-color: #20CCB5;
        border-style: solid;
        width: 102px;
        text-align: center;
        border-bottom-style: none;
        border-width: 8px;
        background-color: white;
        position: absolute;
        height: 44px;
    }

    .tabs2 h3 {
        color: #CC2037;
        border-radius: 8px 8px 0px 0px;
        border-color: #CC2037;
        border-width: 8px;
        border-style: solid;
        width: 102px;
        text-align: center;
        margin-left: 117px;
        border-bottom-style: none;
        border-left-style: none;
        position: absolute;
        height: 36px;
    }

    .tabs3 h3 {
        color: #825283;
        border-radius: 8px 8px 0px 0px;
        border-color: #825283;
        border-width: 8px;
        border-style: solid;
        width: 102px;
        text-align: center;
        border-bottom-style: none;
        margin-left: 227px;
        border-left-style: none;
        height: 36px;
    }

    




    /*CONTACT PAGE*/

    intro h2 {
        color: white;
        background-color: #CC2037;
        border-radius: 15px 15px 15px 15px;
        position: relative;
        margin-top: 72px;
        margin-left: 718px;
        width: 284px;
        height: 58px;
        padding-top: 9px;
        font-size: 42px;
    }

    .divider h2 {
        text-align: center;
        font-size: 10px;
        color: #20CCB5;
        width: 1187px;
        border-radius: 20px 20px 20px 20px;
        margin-left: 269px;
        margin-top: 17px;
        background-color: #20CCB5;
    }

    questions h2 {
        color: white;
        background-color: #CC2037;
        border-radius: 15px 15px 15px 15px;
        position: relative;
        margin-top: 20px;
        margin-left: 856px;
        width: 609px;
        height: 46px;
        padding-top: 11px;
        font-size: 36px;
    }

    .contact-info {
        margin-top: 11px;
        padding-bottom: 16px;
    }

    contact h2 {
        color: #20CCB5;
        margin-top: -415px;
        margin-left: 387px;
        width: 295px;
        font-size: 30px;
    }

    contact2 h2 {
        color: #20CCB5;
        margin-top: 9px;
        margin-left: 385px;
        width: 301px;
        font-size: 30px;
    }

    contact3 h2 {
        color: #20CCB5;
        margin-top: 9px;
        margin-left: 287px;
        width: 481px;
        font-size: 30px;
    }

    /*CONTACT PAGE SOCIALS*/

    .follow {
        position: absolute;
        margin-top: 366px;
        margin-left: 913px;
        width: 452px;
        height: 46px;
        display: flex;
    }

    .follow h2 {
        margin-left: 48px;
        color: white;
        background-color: #20CCB5;
        border-radius: 15px 15px 15px 15px;
        width: 213px;
        font-size: 30px;
    }

    .follow a {
        text-decoration: none;
        color: white;
    }

    .socials {
        margin-left: 985px;
        display: flex;
        position: absolute;
        margin-top: 290px;
        align-items: center;
    }

    .socials img {
        margin-right: 73px;
    }

    /*MAP*/

    div iframe {
        margin-left: 364px;
        position: absolute;
        margin-top: 14px;
        border-radius: 20px 20px 0px 0px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
    }

    #largeMapLink {
        margin-left: 211px;
        position: absolute;
        margin-top: 295px;
        border-radius: 5px 0px 0px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        background-color: white;
        text-decoration: none;
        width: 160px;
        font-family: 'MV Boli', 'regular', sans-serif;
        color:#825283;
    }

    #dirMapLink {
        margin-left: 357px;
        position: absolute;
        margin-top: 295px;
        border-radius: 0px 1px 20px 0px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        background-color: white;
        text-decoration: none;
        width: 160px;
        font-family: 'MV Boli', 'regular', sans-serif;
        color:#825283;
    }





/*BLOG PAGE*/

    blog {
        float: left;
        background-color: #CC2037;
        padding: 7px;
        text-align: center;
        font-size: 20px;
        color: #ffffff;
        padding-left: 12px;
        width: 484px;
        border-radius: 20px 20px 20px 20px;
        margin-left: 605px;
        padding-bottom: 8px;
        position: sticky;
        margin-top: 66px;
    }

    /*EMAIL BUTTON AND FORMATTING*/

    enter_button h2 {
        margin-left: 978px;
        position: absolute;
        margin-top: 134px;
        font-size: 34px;
        border-radius: 14px 14px 14px 14px;
        background-color: #20CCB5;
        width: 128px;
    }

    enter_button li {
        list-style: none;
    }

    enter_button a {
        text-decoration: none;
        color: white;
    }

    enter_button a:hover {
        border: solid #20CCB5;
        color: #20CCB5;
        border-radius: 14px 14px 14px 14px;
        background: white;
        padding: 0px 19px 0px 20px;
    }

    .email h2 {
        float: left;
        padding: 16px;
        text-align: center;
        font-size: 30px;
        color: #CC2037;
        padding-left: 133px;
        width: 452px;
        border-radius: 20px 20px 20px 20px;
        margin-left: 429px;
        border-color: #CC2037;
        border-width: 30px;
        margin-top: -3px;
    }

    /*lEARN MORE BUTTON 1*/

    .learn h2 {
        margin-left: 2103px;
        position: absolute;
        margin-top: 137px;
        font-size: 36px;
        border-radius: 30px 30px 30px 30px;
        background: #825283;
        width: 225px;
    }

    .learn > li {
        list-style: none;
    }

    .learn a {
        text-decoration: none;
        color: white;
    }

    .learn a:hover {
        color:#20CCB5;
    }

    /*lEARN MORE BUTTON 2*/

    .learn2 h2 {
        margin-left: 719px;
        position: absolute;
        margin-top: 137px;
        font-size: 36px;
        border-radius: 30px 30px 30px 30px;
        background: #825283;
        width: 225px;
    }

    .learn2 > li {
        list-style: none;
    }

    .learn2 a {
        text-decoration: none;
        color: white;
    }

    .learn2 a:hover {
        color:#20CCB5;
    }

     /*lEARN MORE BUTTON 3*/

    .learn3 h2 {
        margin-left: 1095px;
        position: absolute;
        margin-top: 137px;
        font-size: 36px;
        border-radius: 30px 30px 30px 30px;
        background: #825283;
        width: 225px;
    }

    .learn3 > li {
        list-style: none;
    }

    .learn3 a {
        text-decoration: none;
        color: white;
    }

    .learn3 a:hover {
        color:#20CCB5;
    }

    /*SHARING*/

    h5 {
        float: left;
        margin-left: 4px;
        margin-top: 12px;
        margin-right: 142px;
        width: 128px;
        font-family: 'MV Boli', 'regular', sans-serif;
        color: #825283;
        font-size: 16px;
    }

    table {
        float: left;
        margin-left: 4px;
        margin-top: 5px;
        margin-right: 31px;
        font-family: 'MV Boli', 'regular', sans-serif;
        color: #FFFFFF;
        background-color: #20CCB5;
        border-radius: 20px 20px 20px 20px;
        height: 26px;
    }

    .flex-share {
        margin-left: 309px;
        position: absolute;
        margin-top: 510px;
        display: flex;
    }

    /*FLEX CONTAINER*/

    .flex-container_blog {
        display: flex;
        margin-left: -1006px;
        margin-top: 314px;
    }

    /*FIRST BLOG POST*/

    .blog-post h3 {
        margin-left: 2046px;
        border-radius: 20px 20px 20px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        font-size: 18px;
        width: 270px;
        margin-top: -43px;
        position: absolute;
        background-color: white;
        padding-top: 31px;
        color: #825283;
        padding-left: 24px;
        padding-right: 24px;
        line-height: 24px;
    }

    .blog-post h3 big{
        font-size: 30px;
    }

    .blog-post img {
        margin-left: 2046px;
        border-radius: 20px 20px 20px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        width: 318px;
        position: absolute;
        margin-top: -237px;
    }

     /*SECOND BLOG POST*/

    .blog-post2 {
        margin-left: 646px;
    }

    .blog-post2 h3 {
        margin-left: 664px;
        border-radius: 20px 20px 20px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        font-size: 18px;
        width: 270px;
        margin-top: -69px;
        position: absolute;
        background-color: white;
        padding-top: 56px;
        color: #825283;
        padding-left: 24px;
        padding-right: 24px;
        line-height: 24px;
    }

    .blog-post2 h3 big{
        font-size: 30px;
    }

    .blog-post2 img {
        margin-left: 664px;
        border-radius: 20px 20px 20px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        width: 318px;
        position: absolute;
        margin-top: -237px;
    }

    /*THIRD BLOG POST*/

    .blog-post3 h3 {
        margin-left: 1036px;
        border-radius: 20px 20px 20px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        font-size: 18px;
        width: 270px;
        margin-top: -44px;
        position: absolute;
        background-color: white;
        padding-top: 31px;
        color: #825283;
        padding-left: 24px;
        padding-right: 24px;
        line-height: 24px;
    }

    .blog-post3 h3 big{
        font-size: 30px;
    }

    .blog-post3 img {
        margin-left: 1036px;
        border-radius: 20px 20px 20px 20px;
        border-color: #20CCB5;
        border-style: solid;
        border-width: 8px;
        width: 318px;
        position: absolute;
        margin-top: -237px;
    }





    /*!!!FOOTER!!!*/   

    .footer-container {
        background-color: #FFE088;
        width: 100.5%;
        height: 100px;
        display: block;
        left: 0;
        position: fixed;
        bottom: 0;
    }

    .footer-text {
        padding-left: 877px;
        position: absolute;
        bottom: 10px;
        color: #CC2037;
        width: 628px;
        font-size: 25px;
    }

    .footer-text > h2 {
        font-size: 20px;
        text-align: right;
    }

    .footer-socials {
        padding-left: 372px;
        position: absolute;
        bottom: 30px;
        display: flex;
        align-items: center;
    }

    .footer-socials > div b img {
        margin-left: -11px;
    }

    .footer {
        position: relative;
        bottom: 0;
        padding-left: 250px;
        text-align: left;
        color:#CC2037;
        bottom: -65px;
    }

    .footerlogo {
        padding-left: 200px;
        text-align: center;
        position: relative;
        bottom: 65px;
    }